<h1>Listing tvshows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tvshows.each do |tvshow| %>
      <tr>
        <td><%= tvshow.name %></td>
        <td><%= tvshow.identifier %></td>
        <td><%= tvshow.description %></td>
        <td><%= link_to 'Show', tvshow %></td>
        <td><%= link_to 'Edit', edit_tvshow_path(tvshow) %></td>
        <td><%= link_to 'Destroy', tvshow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tvshow', new_tvshow_path %>
